@import url("https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap");

:root {
  --white: #ffffff;
  --primary: #005cff;
  --purple: #6220c1;
}

.text-primary {
  color: var(--primary);
}

.bg-primary {
  background-color: var(--primary);
}

.text-secondary {
  color: var(--secondary);
}

.bg-secondary {
  background-color: var(--secondary);
}

.text-danger {
  color: var(--danger);
}

.bg-danger {
  background-color: var(--danger);
}

body {
  font-family: "Nunito Sans", sans-serif;
}
